
.icon-camera:before { content: '\e800'; } /* '' */
.icon-users:before { content: '\e801'; } /* '' */
.icon-linkedin:before { content: '\e802'; } /* '' */
.icon-github-circled:before { content: '\e803'; } /* '' */
.icon-keyboard:before { content: '\e804'; } /* '' */
.icon-target:before { content: '\e805'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-skype:before { content: '\f339'; } /* '' */