
.icon-skype:before { content: '\e800'; } /* '' */
.icon-volume-up:before { content: '\e801'; } /* '' */
.icon-github-circled-alt2:before { content: '\f056'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */